html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: grey;

}

.heroBlock {
    background-color: rgb(255, 255, 255);
    
    min-width: 100vw;

    min-height: 100vh;
    height: 100vh;

    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 10vw;
    
}

.heroTextTyping {


    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 2.5s steps(60, end),
    blink-caret .75s step-end infinite;

    max-width: 100vw;
    word-wrap: break-word;
}

a {
    color: inherit;
    text-decoration: none;
}

.heroNavigation {
    color: white;
    align-self: center;
    font-size: 3vh;
    transition: 0.5s;
    display: flex;
    justify-content: center;

    

}

#aboutDone, #projectsDone, #contactDone {
    transition: 0.3s;
    padding: 0.5em;
}

#aboutDone:hover, #projectsDone:hover, #contactDone:hover {
    color: goldenrod;
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 65% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

#aboutBlock {
    width: 100vw;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.178);
    display: flex;
    justify-content: center;
    align-items: center;



}

#aboutBlock .inner {
    width: 95%;
    /* border-radius: 2em; */
    display: flex;
    align-items: center;


}

.aboutText {
    background-color: white;
    padding: 1.5em;

    width: 70vw;
}

.aboutHeader {
    font-weight: bold;
    color: goldenrod;
    font-size: 2vh;
}

#profilePic {
    width: 25vw;
    height: auto;
    margin: 2vw;
}








#projectsBlock{
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

.projectsHeader {
    color :goldenrod;
    font-size: 3vh;
    padding: 0.5em;
    margin: 1em;
}

.projectsCardsBlock {
    display: flex;
    width: 98vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.projectsCards {
   
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* min-width: 20vw; */
    width: 20em;
    height: 30vh;
    /* background-color: rgba(128, 128, 128, 0.178); */

    overflow-y: auto;
    margin: 1em;
    padding: 1em;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    gap: 2em;


}

.projectsCards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
    transition: 0.3s;
}

.projectsCardsHeader {
    font-weight: bold;
    padding-bottom: 0.5em;
}

.awards {
    
    color: goldenrod;
    padding: 0.5em;
}


#contactBlock {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#linkedinLogo{
    padding-top: 1em;
    width: 3em;
    height: auto;
}